@charset "utf-8";
/* CSS Document */


	body{ text-align:center;}
	table{ border:1px solid black; border-collapse:collapse; width:800px; margin:10px auto;}
	th{ border:1px solid black; height:50px;}
	td{ border:1px solid black; height:100px; font-size:20px;}
	.mydayup{ height:22px; background:pink; text-align:center; padding:14px;}
	.mydayupwork{ background-image:url(../images/bg.jpg)}
	.mydaydown{ height:50px; background:lightblue;}
	.mynum{ margin:0}
	caption{ font-size:26px;}
	#choosediv{ position:absolute; left:90px; top:50px; width:200px; height:30px;}
	#choosediv{ }

